.container {
    /* padding: 0 2rem; */
    display: row;
    flex-direction:row;
  }
  
  .col1{
    background-color: black;
    float: left;
    width: 40%;
  }
  .col2{
    min-height: 100vh;
    float: left;
    width: 60%;
    background-color: #f2f2f2;
    /* text-align: left; */
    /* justify-content: center; */
    /* align-items: left; */
  
  }

  .col2div{

    /* text-align: center; */
    justify-content: center;
    align-items: center;
    
    
  }
  
  
  .main {
    min-height: 100vh;
    
    display:grid;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    
  }

  .LoginForm{
    border-style: solid;
    border-radius: 10px;
    border-color: #4b1111;
    border: 10rem;
  }
  
 
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: #eaeaea;
  }
  

  .Button{
    padding-bottom: 2.5%;
    padding-left: 2%;
    height: 30px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;    
    margin: 10px;
  }
 

  
  
  
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }